---
title: "(연구&교수님) EPT-DISSIM -- PRCP_KOR 데이터정리"
author: "신록예찬"
date: "08/07/2023"
---

In [2]:
import pandas as pd

`1`. load raw-data

In [9]:
df = pd.read_csv("OBS_ASOS_DD_20230807193646.csv", encoding='EUC-KR')
df = df.rename({'지점':'Station_ID','지점명':'Station_Name','일시':'Date','일강수량(mm)':'Precipitation'},axis=1)
df

        Station_ID Station_Name        Date  Precipitation
0               90           속초  2013-08-09           15.5
1               90           속초  2013-08-10            9.5
2               90           속초  2013-08-16            0.1
3               90           속초  2013-08-18            0.0
4               90           속초  2013-08-19            9.0
...            ...          ...         ...            ...
127200         295           남해  2023-07-22            4.3
127201         295           남해  2023-07-23           13.4
127202         295           남해  2023-07-24           17.0
127203         295           남해  2023-07-25            4.7
127204         295           남해  2023-07-26           42.5

[127205 rows x 4 columns]

`2`. save dataframe as `PRCP_KOR.csv`

In [10]:
df.to_csv('PRCP_KOR.csv',index=False)